$color-form-background: white;
$frame-main-pad-nocert: 0;

$frame-width-nocert: 30%;
$footer-color: white;

$breakpoint-tablet: 740px;

$btn-red: #cd0a0a;
$btn-white: #ffffff;
$btn-lightblue: #0064b4;
$btn-blue: #0067B1;


@mixin frame($width, $main-padding) {
  #banner {
    box-shadow: none;
    //margin-bottom: 6%;
    background-color: $footer-color;
    @media (min-width: $breakpoint-tablet) {
      background-color: unset;
    }

    .mdl-layout__header-row {
      height: 100%;
      @media (min-width: $breakpoint-tablet) {
        background-color: $footer-color;
        width: $width !important;
        margin: auto;
      }
    }
  }
  #main {
    margin-left: 0 !important;
    color: black !important;
    @media (min-width: $breakpoint-tablet) {
      padding: $main-padding 0 $main-padding 0;
    }

    #content {
      background-color: $footer-color;
      padding: unset;

      .mdl-grid {
        padding: unset;
      }

      @media (min-width: $breakpoint-tablet) {
        width: $width !important;
        margin: auto;
      }

      #content-inner {
        display: flex;
        flex-direction: column;
        width: 100%;

        .fields {
          .modelbox {
            overflow-wrap: anywhere;
            margin: 0.5em 1em 0 1em;
          }
        }
      }
    }
  }
  #customFooter {
    padding: unset;

    .ssp-footer {
      @media (min-width: $breakpoint-tablet) {
        width: $width !important;
        margin: auto;
      }

      .mdl-grid {
        justify-content: center;
      }

      background-color: $footer-color;
      padding: unset;
    }
  }
}


/*
 CSS Body
*/

@media (max-width: 739px) {
  #comanage-wrapper {
    min-height: unset;
  }
}

.rciam_enrollers.nocert {
  // todo: Remove in the future, asap we merge the PR
  #navigation-drawer {
    display: none;
  }

  // todo: Remove in the future
  #breadcrumbs {
    display: none;
  }

  // todo: Remove in the future
  #desktop-hamburger {
    display: none;
  }

  // todo: Remove in the future
  #user-menu {
    display: none;
  }

  #user-defined-links-top {
    display: none;
  }

  @media (min-width: 740px) {
    #comanage-wrapper {
      min-height: 95vh;
    }
  }

  .mdl-layout__content {
    margin-left: 0 !important;
  }

  @include frame($frame-width-nocert, $frame-main-pad-nocert);

  .field-info {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }

  #return-btn {
    &:hover {
      background: $btn-blue;
      color: white;
      border-color: $btn-blue;
    }
  }

  .ui-icon {
    background-image: url("/registry/js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png");
  }
}

.rciam_enrollers.configure {
  .eofsTable {
    th,td {
      background: inherit;
      border-color: transparent;
      label {
        color: black;
      }
    }
  }

  #eof_list_btn {
    background: green;
    border: 1px solid green;
    color: white;
    width: 80px;

    &:disabled {
      background: gray;
    }

    &:hover:enabled {
      background: white;
      border-color: green;
      color: green;
    }
  }

  .deletebutton {
    background: $btn-red;
    color: white;
    width: 80px;
    height: 3em;

    .ui-button-icon.ui-icon {
      background-image: url("/registry/js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_ffffff_256x240.png");
    }

    &:hover {
      background: white;
      border-color: $btn-red;
      color: $btn-red;

      .ui-button-icon.ui-icon {
        background-image: url("/registry/js/jquery/jquery-ui-1.11.4.custom/images-comanage/ui-icons_cd0a0a_256x240.png");
      }
    }
  }
}